@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

section:nth-child(even) {
  animation: fadeAndSlideBottomLeft 3s linear both;
  animation-timeline: view();
  animation-duration: 1ms;
  animation-range: entry 0% cover 12%;
}

section {
  animation: fadeAndSlideBottomRight 3s linear both;
  animation-timeline: view();
  animation-duration: 1ms;
  animation-range: entry 0% cover 12%;
}

@keyframes fadeAndSlideBottomRight {
  from {
    transform: translate(-5%, -8%);

    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

@keyframes fadeAndSlideBottomLeft {
  from {
    transform: translate(5%, -8%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/* 
h1 {
  font-size: 2.441rem;
  line-height: 2.25rem;
  margin-bottom: 2.441rem;
  &:not(:first-child){
    margin: 2.441rem 0;
  }
  font-weight: 600;
}

h2 {
  font-size: 1.953rem;
  margin: 1.953rem 0;
  font-weight: 500;

}

h3 {
  font-size: 1.563rem;
  margin: 1.563rem 0;
  font-weight: 400;
}

p {
 font-size: 1rem;
 margin: 1rem 0;
} */